<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body th:object="${promotion}">
    <h1>Promotion</h1>
	<h2>
		[[*{name}]]
	</h2>
	<h4>
		FROM [[*{getFormattedDate(getStartingDate())}]] TO [[*{getFormattedDate(getEndingDate())}]]
	</h4>
	
	<div th:if="${pizzas.size() > 0}">
		
		<h3>Applied on: </h3>
		<ul>
			
			<li 
				th:each="pizza : ${pizzas}"
				th:object="${pizza}"
				th:text="|*{name} - *{description}|"
			></li>
			
		</ul>
	</div>
	
	<a href="/promotion">
		Go back
	</a>
</body>
</html>